@import "Components/Utils/Fonts";

// Primary
$color_white: white;
$color_main: rgba(0, 0, 0, .87);
$color_primary: #F06464;
$color_secondary: green;

// Secondary
$color_blue: #EBF3FA;
$color_green: #EDF5F0;
$color_yellow: #F9FAEB;
$color_pink: #F6EDEB;
$color_lilak: #F6F3FB;

// Greyscale
$color_light: rgba(0, 0, 0, .05);
$color_muted: rgba(0, 0, 0, .12);
$color_medium: rgba(0, 0, 0, .3);
$color_dark: rgba(0, 0, 0, .54);
$color_black: $color_main;

// Layout
$width_tablet: 960px;
$width_mobile: 600px;

@import "Components/Utils/Normalize";
@import "Components/Utils/Grid";
@import "Components/Atoms/Colors";
@import "Components/Atoms/Typo";
@import "Components/Atoms/Buttons";
@import "Components/Molecules/InputIcon";


.temp-padding {padding: 20px}

