@import "Components/Utils/Fonts";



// Primary
$ultra_blue: #EBF3FA;
$ultra_green: #EDF5F0;
$ultra_yellow: #F9FAEB;
$ultra_coral: #F6EDEB;
$ultra_lilac: #F6F3FB;

// Primary ultra

$coral: #F06464;
$dark_green: #4BA661;
$green: #5FC378;
$royal_blue: #2956AC;
$lilac: #9B6EC3;
$black: rgba(0, 0, 0, .87);
$gray: rgba(0, 0, 0, .54);


// Adjective colors

$orange: #FAAF64;
$yellow: #FAF569;
$blue: #6EC3C8;
$purple: #698CD7;
$light_gray: rgba(0, 0, 0, .3);
$light_light_gray: rgba(0, 0, 0, .12);
$ultra_gray: rgba(0, 0, 0, .05);
$light_coral: #F5AAAA;
$light_orange: #F5D2AA;
$light_yellow:#F5F5AF ;
$light_green: #AADCB4;
$light_blue:#AFDCE1;
$light_purple: #AFBEE6;
$light_lilac: #C8AFDC;

// Layout
$width_desktop: 1345px;
$width_tablet: 960px;
$width_mobile: 600px;

// Input

$focus_color: #66ebff;
$input_border_width: 1px;
$input_padding: 1.35em;
$input_icon_width: 1.3em;
$input_border_radius: 3px;
$input_border_color: #ccc;

// Text size

$text_h1: 70px;
$text_h2: 40px;
$text_h3: 36px;
$text_h4: 32px;
$text_h5: 26px;
$sub_header: 24px;
$sub_title: 18px;
$text_default: 16px;
$text_middle: 15px;
$text_small: 14px;
$text_micro: 12px;

// Button
$button_color: #ff0000;

@import "Components/Utils/Normalize";
@import "Components/Utils/Grid";
@import "Components/Atoms/Colors";
@import "Components/Atoms/Typo";
@import "Components/Atoms/Buttons";
@import "Components/Atoms/Input";
@import "Components/Atoms/Dropdown";
@import "Components/Atoms/Checkbox";
@import "Components/Atoms/Paper";


.temp-padding {padding: 20px}

