.f-footer {
	select {
		height: auto;
	}
	a {
		text-decoration: none !important;
		line-height: 1.6;
		position: relative;
	}


	.f-footer--primary {
		background-color: rgba(0,0,0,.03);
    	border-top: 1px solid rgba(0,0,0, .12);
    	margin-top: 30px;

		.f-main-wrapper {
			padding: 35px 0 20px 0;
			padding: 30px 20px 20px;
		}

		nav {
			span, a {
				float: left;
				clear: left;
			}

			span {
				margin-bottom: 10px;
				font-size: 14px;
			}
		}

		.fi-logo-symbol {
			font-size: 36px;

			&:before {
				margin-top: -25px;
			}
		}

		.f-footer--feedback-col {
			max-width: 210px;

			.f-input-block {
				margin: 0 0 50px;
			}
		}
	}

	.f-footer--secondary {
		padding: 20px 0;

		.fd-f-left-middle {
			img, i, span {
				margin: 0 25px
			}

			a:first-child img {
				margin-left: 0;
			}

			span span {
				margin: 0;
				display: block;
			}
		}

		.f-footer-link-descr {
			position: absolute;
			top: 100%;
			color: rgba(0,0,0,.87);
			font-size: 9px;
			width: 100%;
			text-align: center;

			&-fir {
				padding-top: 1px;
			}
		}
	}
}

@media only screen and (max-width: $width_mobile){
	.f-footer {
		.f-footer--primary {
			.f-main-wrapper {
				padding: 0 20px 20px;
			}

			nav, .f-footer--feedback-col {
				margin-top: 20px;
			}

			.f-footer--feedback-col {
				max-width: none;

				.f-input-block {
					margin: 0 0 10px;
				}
			}
		}
	}
}

@media print {
	footer {
		display: none;
	}
}