.fd-input {
	margin-top: 10px;
	margin-bottom: 10px;

	display: inline-flex;
	position: relative;

	input {
		outline: 0;
		background: white;
		border-style: solid;
		border-width: 1px;
		font: inherit;
		color: inherit;
		padding: 2px 5px;
	}

	&.fd-input-icon-left {
		input {
			padding-left: 1.5em;
		}

		i:before {
			content: '';
			width: .5em;
			height: .5em;
			border-radius: 50%;
			background: blue;
		}

		i {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&  > i:first-child {
			background-color: #ccc;
			position: absolute;
			left: 1px;
			top: 1px;
			bottom: 1px;
			width: 1.45em;
		}
	}



}
