.f-btn {
	display: inline-flex;
	box-sizing: border-box;
	padding: 11px 20px;
	background: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	margin: 5px 0;
	border: none;
	&:hover {
		opacity: .7;
	}
	&:active {
		opacity: .9;
	}
}

.f-btn-control, .f-btn-primary {
	@extend .f-btn, .fd-f-center-middle;
}

.f-btn-primary {
	height: 40px;
	font-size: $text_gunso;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	background-color: $coral;
	transition: .2s ease;
	&:hover {
		transition: .2s ease;
		text-decoration: none;
		color: #fff;
	}

	&:visited {
		text-decoration: none;
		color: #fff;
	}
}

.f-btn-control {
	min-width: 160px;
	border: 1px solid;
	padding-top: 11px;
	background-color: rgba(255, 255, 255, .5);
	transition: .2s ease;
	&:hover {
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.05);
		transition: .2s ease;
	}
	&:active {
		opacity: 1;
	}
	i {
		position: relative;
		left: 0;
		margin-left: 8px;
		top: -1px;
	}
	&-coral, &-royal-blue, &-dark-green {
		@extend .f-btn-control;
		i {
			transition: left .2s ease-in-out;
		}
	}
}

.f-btn-control-coral {
	color: $coral;
	&.f-disabled {
		color: rgba($coral, .4)
	}
	&:active {
		color: rgba($coral, .5)
	}
	&:hover {
		color: $coral;
		text-decoration: none;
		i {
			left: 10px;
		}
	}
}

.f-btn-control-coral-link {
	@extend .f-btn-control-coral;
	border: none;
	padding: 0;
	&:hover {
		background-color: transparent;
		opacity: .7;
		text-decoration: none;
		// color: $coral;
	}
	&:active {
		opacity: .9;
		color: rgba($coral, 1)
	}
}

.f-btn-control-royal-blue {
	color: $royal_blue;
	&.f-disabled {
		color: rgba($royal_blue, .4)
	}
	&:active {
		color: rgba($royal_blue, .5);
	}
	&:hover {
		i {
			left: 10px;
		}
	}
}

.f-btn-control-royal-blue-link {
	@extend .f-btn-control-royal-blue;
	border: none;
	padding: 0;
	background-color: transparent;
	&:hover {
		background-color: transparent;
		opacity: .7;
	}
	&:active {
		opacity: .9;
		color: rgba($royal_blue, 1);
	}
}

.f-btn-control-dark-green {
	color: $dark_green;
	&.f-disabled {
		color: rgba($dark_green, .4)
	}
	&:active {
		color: rgba($dark_green, .5)
	}
}

.f-btn-control-dark-green-link {
	@extend .f-btn-control-dark-green;
	border: none;
	padding: 0;
	&:hover {
		background-color: transparent;
		opacity: .7;
	}
	&:active {
		opacity: .9;
		color: rgba($dark_green, 1);
	}
}

.f-btn-control-default {
	@extend .f-btn-control-coral-link;
	color: $royal_blue;
	&.f-disabled {
		color: rgba($royal_blue, .4);
	}
	&:hover i {
		left: 0;
	}
	&:active {
		color: $royal_blue;
	}

	&:hover {
		color: $royal_blue;
	}
}

.f-disabled {
	background-color: rgba(255, 255, 255, .5);
	pointer-events: none;
	cursor: not-allowed;
}

// Links

.f-link {
	color: $royal_blue;
	transition: .2s ease;
	&:hover {
		opacity: .7;
		transition: .2s ease;
	}

	&:active {
		opacity: .9;
	}

	&:visited {
		color: $lilac;
	}
}

.fd-btn-block {
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.ft-btn-block {
	@media only screen and (max-width: $width_tablet) {
		display: block;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.fm-btn-block {
	@media only screen and (max-width: $width_mobile) {
		display: block;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
