.btn {
	display: inline-flex;
	box-sizing: border-box;
	padding: 14px 20px 10px;
	background: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	margin: 5px;
	border: none;
	&:hover {
		opacity: .7;
	}
	&:active {
		opacity: .9;
	}
}

.btn-control, .btn-primary {
	@extend .btn, .fd-f-center-middle;
;
}

.btn-primary {
	min-width: 270px;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	background-color: $coral;
}

.btn-control {
	min-width: 160px;
	border: 1px solid;
	font-size: 18px;
	padding-top: 10px;
	background-color: rgba(255, 255, 255, .5);
	&:hover {
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.05);
	}
	&:active {
		opacity: 1;
	}
	i {
		position: relative;
		left: 0;
		margin-left: 8px;
	}
	&-coral, &-royal-blue, &-dark-green {
		@extend .btn-control;
		i {
			transition: left .2s ease-in-out;
		}
	}
	&-coral {
		color: $coral;
		backgroud-color: $coral;
		&.disabled {
			color: rgba($coral, .4)
		}
		&:active {
			color: rgba($coral, .5)
		}
		&:hover {
			i {
				left: 10px;
			}
		}
		&-link {
			@extend .btn-control-coral;
			background-color: transparent !important;
			border: none;
			padding: 0;
			&:hover {
				opacity: .7;
			}
			&:active {
				opacity: .9;
				color: rgba($coral, 1)
			}
		}
	}
	&-royal-blue {
		color: $royal_blue;
		backgroud-color: $royal_blue;
		&.disabled {
			color: rgba($royal_blue, .4)
		}
		&:active {
			color: rgba($royal_blue, .5);
		}
		&:hover {
			i {
				left: 10px;
			}
		}
		&-link {
			@extend .btn-control-royal-blue;
			background-color: transparent !important;
			border: none;
			padding: 0;
			&:hover {
				opacity: .7;
			}
			&:active {
				opacity: .9;
				color: rgba($royal_blue, 1);
			}
		}
	}
	&-dark-green {
		color: $dark_green;
		backgroud-color: $dark_green;
		&.disabled {
			color: rgba($dark_green, .4)
		}
		&:active {
			color: rgba($dark_green, .5)
		}
		&-link {
			@extend .btn-control-dark-green;
			background-color: transparent !important;
			border: none;
			padding: 0;
			&:hover {
				opacity: .7;
			}
			&:active {
				opacity: .9;
				color: rgba($dark_green, 1);
			}
		}
	}
}

.btn-control-default {
	@extend .btn-control-coral-link;
	color: $royal_blue;
	font-size: 14px;
	&.disabled {
		color: rgba($royal_blue, .4);
	}
	&:hover i {
		left: 0;
	}
}


.disabled {
	background-color: rgba(255, 255, 255, .5);
	pointer-events: none;
	cursor: not-allowed;
}

// Links

.link {
	color: $royal_blue;
	&:hover {
		opacity: .7;
	}

	&:active {
		opacity: .9;
	}

	&:visited {
		color: $lilac;
	}
}




