.f-checkbox {
	line-height: 1;
	label {
		display: inline-block;
		line-height: normal;
		padding-right: .5em;
		cursor: pointer;
		position: relative;
		padding-left: 21px;
		& > * {
			vertical-align: middle;
		}
	}
	&, .f-checkbox-control {
		display: inline-flex;
	}
	input {
		display: none;
		&[type=radio] ~ .f-checkbox-control {
			border-radius: 50%;
		}
		&:not(:checked) {
			& ~ .f-checkbox-control {
				background: none;
				border: 2px solid rgba(0, 0, 0, .54);
				i {
					display: none;
				}
			}
		}
	}

	.f-checkbox-control {
		@extend .fd-f-center-middle;
		width: 16px;
		height: 16px;
		font-size: 10px;
		border-radius: 3px;
		box-sizing: border-box;
		background-color: $green;
		margin-right: 5px;
		position: absolute;
		left: 0;

		i {
			color: #fff;
		}
	}

	span, i {
		user-select: none;
	}
}

.f-checkbox-block {
	@extend .f-checkbox;
	display: block;
	margin: 10px auto;
}

.f-switch-checkbox {
	&, label {
		display: inline-block;
	}

	label {
		width: 34px;
		height: 14px;
		position: relative;
		border-radius: 5px/50%;
		background-color: $light_light_gray;
		transition: all .1s linear;
		cursor: pointer;
	}

	input {
		display: none;
		&:checked ~ label {
			background-color: rgba($light_green, .5);
			.f-switcher {
				background-color: $green;
				left: 17px;
			}
		}
	}

	.f-switcher {
		width: 20px;
		height: 20px;
		position: absolute;
		left: -3px;
		top: 50%;
		margin-top: -10px;
		transition: all .1s linear;
		border-radius: 50%;
		background-color: #f1f1f1;
		box-shadow: 0 2px 2px 0 $light_gray;
	}

}
