input, select {
	&:focus {
		outline: none;
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
	-webkit-appearance: none !important;
	display: none !important;
	visibility: hidden !important;
	margin: 0;
}

input::-ms-clear {
	display: none;
}

input[type=number] {
	-moz-appearance: textfield;
}

input:-webkit-autofill {
	background: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
}

select::-ms-expand {
	display: none;
}

.f-input {
	display: inline-block;
	position: relative;
	margin: 5px 0;
	outline: none;

	input, select {
		font-family: $font-regular;
		line-height: 1;
		display: block;
		border: $input_border_width solid $input_border_color;
		background-color: $input_background_color;
		border-radius: $input_border_radius;
		vertical-align: bottom;
		color: $input_text_color;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 12px;
		&[type=date] {
			padding-top: 11px;
			padding-bottom: 11px;
		}

		&:focus {
			border-color: $input_border_color_focus;
			box-shadow: none;
		}
	}

	input {
		padding-right: 11px;
		@include placeholder-color($input_placeholder_color);
	}

	select {
		padding-right: 88px;
		&:focus ~ i::before  {
			transform: rotate(180deg);
		}
		option {
			padding-left: 5px;
		}
	}

	[class^="fi-"] {
		padding-left: 8px;
		padding-right: 8px;
	}

	.f-input-pseudo-select, .f-input-pseudo-link {
		&.pseudo-select-focus ~ .f-input-pseudo-link-icon::before {
			transform: rotate(180deg);
		}
		display: block;
		color: $royal_blue;
		padding-right: 25px;
		position: relative;
		border-bottom: 1px dashed $royal_blue;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}
	}

	.f-input-pseudo-link, .f-input-pseudo-link-icon {
		padding-right: 0;
	}
	.f-input-pseudo-link-icon {
		color: $royal_blue;
		right: -4px;
		padding-left: 0;
		padding-right: 0;
	}
}

.f-input-block {
	@extend .f-input;
	display: block;
	input, select {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
}


.fi-drop-down-icon {
	padding-right: 5px;
	&::before {
		transition: transform .2s linear;
	}
}

.fd-input-block, .ft-input-block, .fm-input-block {
	@extend .f-input-block
}

@media only screen and (min-width: $width_tablet) {
	.ft-input-block, .fm-input-block {
		display: inline-block;
	}
}

@media only screen and (max-width: $width_tablet) and (min-width: $width_mobile) {
	.fd-input-block, .fm-input-block {
		display: inline-block;
	}
}

@media only screen and (max-width: $width_mobile) {
	.fd-input-block, .ft-input-block {
		display: inline-block;
	}
}

.f-input-icon-left {
	input {
		padding-left: $input_icon_left_right_padding;
	}
	i:first-of-type {
		@extend .fd-f-center-middle;
		position: absolute;
		width: $input_icon_width;
		height: 100%;
		top: 0;
		border-top-left-radius: $input_border_radius;
		border-bottom-left-radius: $input_border_radius;
	}
}

.f-input-icon-right, select.f-input, select.f-input-block {
	input {
		padding-right: $input_icon_left_right_padding;
	}
}

.f-input-icon-right i:last-of-type, .f-input select + i, .f-input span + i {
	@extend .fd-f-center-middle;
	position: absolute;
	right: $input_border_width;
	top: $input_border_width;
	bottom: $input_border_width;
	width: $input_icon_width;
	background-color: #fff;
	border-top-right-radius: $input_border_radius;
	border-bottom-right-radius: $input_border_radius;
}

.f-input-icon-left.f-input-icon-right {
	input {
		padding-left: $input_icon_left_right_padding;
		padding-right: $input_icon_left_right_padding;
	}
}


.f-dropdown-block-wrapper {
	position: relative;
}

.f-dropdown-menu-wrap {
	position: absolute;
	top: 100%;
	left: 0;
	box-shadow: $dropdown_box_shadow;

	ul {
		padding: 10px 0;
		li {
			padding: 7px 20px;
			a {
				color: $header_link_color !important;
			}
		}
	}
}
