input, select {
	&:focus {
		outline: none;
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
	-webkit-appearance: none !important;
	display: none !important;
	visibility: hidden !important;
	margin: 0;
}

input::-ms-clear {
	display: none;
}

input[type=number] {
	-moz-appearance: textfield;
}

.f-input {
	display: inline-block;
	position: relative;
	margin: 5px 0;
	input, select {
		display: block;
		padding: 4px 5px 3px 5px;
		line-height: 1;
		border: $input_border_width solid $input_border_color;
		border-radius: $input_border_radius;
		vertical-align: bottom;
		&:focus {
			border-color: $focus_color;
			box-shadow: 0 0 1px 1px $focus_color;
		}
	}
}

.f-input-block {
	@extend .f-input;
	display: block;
	input, select {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
}

.fd-input-block, .ft-input-block, .fm-input-block {
	@extend .f-input-block
}

@media only screen and (min-width: $width_tablet) {
	.ft-input-block, .fm-input-block {
		display: inline-block;
	}
}

@media only screen and (max-width: $width_tablet) and (min-width: $width_mobile) {
	.fd-input-block, .fm-input-block {
		display: inline-block;
	}
}

@media only screen and (max-width: $width_mobile) {
	.fd-input-block, .ft-input-block {
		display: inline-block;
	}
}

.icon-left {
	input {
		padding-left: $input_padding;
		padding-right: .5em;
	}
	i:first-of-type {
		@extend .fd-f-center-middle;
		position: absolute;
		width: $input_icon_width;
		height: 100%;
		top: 0;
		border-top-left-radius: $input_border_radius;
		border-bottom-left-radius: $input_border_radius;
	}
}

.icon-right, select.f-input, select.f-input-block {
	input {
		padding-right: $input_padding;
		padding-left: .5em;
	}
}

.icon-right i:last-of-type, .f-input select + i, .f-input span + i {
	@extend .fd-f-center-middle;
	position: absolute;
	right: $input_border_width;
	top: $input_border_width;
	bottom: $input_border_width;
	width: $input_icon_width;
	background-color: #fff;
	border-top-right-radius: $input_border_radius;
	border-bottom-right-radius: $input_border_radius;
}

.icon-left.icon-right {
	input {
		padding-left: $input_padding;
		padding-right: $input_padding;
	}
}


