html, body {
	font-family: $font_regular;
	font-weight: normal;
	font-size: $text_default;
	line-height: 1.35;
	//color: $color_dark;
}

a {
	text-decoration: none;
}

p {
	margin: 40px 0;
}

h1, h2, h3, h4, h5, h6 {
	font: inherit;
	color: inherit;
	margin-bottom: 40px;
}

i {
	font-size: 16px;
}

.fd-light {
	font-family: $font_light;
}
.fd-regular {
	font-family: $font_regular;
}
.fd-medium {
	font-family: $font_medium;
}
.fd-semibold{
	font-family: $font_semibold;
}
.fd-bold {
	font-family: $font_bold;
}


.fd-header {
	font-size: $text_h1;
	@extend .fd-semibold
}

.fd-section-header {
	font-size: $text_h2;
	@extend .fd-semibold;
}

.fd-block-header {
	font-size: $text_h3;
	@extend .fd-light;
}

.fd-vacancy-header {
	font-size: $text_h4;
	@extend .fd-medium;
}

.fd-vacancy-title {
	font-size: $text_h5;
	@extend .fd-medium;
}

.fd-subheader, .fd-form-header {
	font-size: $sub_header;
}

.fd-subheader {
	@extend .fd-medium;
}

.fd-form-header {
	@extend .fd-light;
}

.fd-subtitle {
	font-size: $sub_title;
	font-family: $font_regular;
}

.fd-default {
	font-size: $text_default;
}

.fd-middle {
	font-size: $text_middle;
}

.fd-small {
	font-size: $text_small
}

.fd-micro {
	font-size: $text_micro
}

.fd-text-left {
	text-align: left
}

.fd-text-right {
	text-align: right
}

.fd-text-center {
	text-align: center
}

.fd-text-lowercase {
	text-transform: lowercase;
}

.fd-text-uppercase {
	text-transform: uppercase;
}

.fd-text-capitalize {
	text-transform: capitalize;
}

a.f-link-dashed, a .f-link-dashed {
	border-bottom: 1px dashed;
}

@media only screen and (max-width: $width_tablet) {
	.ft-text-left {
		text-align: left
	}
	.ft-text-right {
		text-align: right
	}
	.ft-text-center {
		text-align: center
	}
}

@media only screen and (max-width: $width_mobile) {
	.fm-text-left {
		text-align: left
	}
	.fm-text-right {
		text-align: right
	}
	.fm-text-center {
		text-align: center
	}
}
