html, body {
	font-family: $font_regular;
	font-weight: normal;
	font-size: $text_merchant;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: $royal_blue;

	&:visited:not(.f-always-blue), &.f-visited {
		color: $lilac;
	}

	&:hover, &.f-hover {
		opacity: .7;
	}

	&:active, &.f-active {
		opacity: .9;
	}

	&[disabled], &.f-disabled {
		opacity: .4;
	}
}

p {
	margin: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
	font: inherit;
	color: inherit;
	margin-bottom: 10px;
}

b, strong {font-family: $font_medium}

// Font Weight

.fd-thin {font-family: $font_light}
.fd-beefy {font-family: $font_medium}
.fd-fat{font-family: $font_semi}

// Font Size

.fd-shogun {font-size: $text_shogun}
.fd-daimyo {font-size: $text_daimyo}
.fd-samurai {font-size: $text_samurai}
.fd-ronin {font-size: $text_ronin}
.fd-soldier {font-size: $text_soldier}
.fd-merchant {font-size: $text_merchant}
.fd-farmer {font-size: $text_farmer}
.fd-craftsmen {font-size: $text_craftsmen}
.fd-peasant {font-size: $text_peasant}
.fd-serf {font-size: $text_serf}


// Font Size Variations

.fd-thin-shogun {font-size: $text_shogun;font-family: $font_light}
.fd-thin-daimyo {font-size: $text_daimyo;font-family: $font_light}
.fd-thin-samurai {font-size: $text_samurai;font-family: $font_light}
.fd-thin-ronin {font-size: $text_ronin;font-family: $font_light}
.fd-thin-soldier {font-size: $text_soldier;font-family: $font_light}
.fd-thin-merchant {font-size: $text_merchant;font-family: $font_light}
.fd-thin-farmer {font-size: $text_farmer;font-family: $font_light}
.fd-thin-craftsmen {font-size: $text_craftsmen;font-family: $font_light}
.fd-thin-peasant {font-size: $text_peasant;font-family: $font_light}
.fd-thin-serf {font-size: $text_serf;font-family: $font_light}

.fd-beefy-shogun {font-size: $text_shogun;font-family: $font_medium}
.fd-beefy-daimyo {font-size: $text_daimyo;font-family: $font_medium}
.fd-beefy-samurai {font-size: $text_samurai;font-family: $font_medium}
.fd-beefy-ronin {font-size: $text_ronin;font-family: $font_medium}
.fd-beefy-soldier {font-size: $text_soldier;font-family: $font_medium}
.fd-beefy-merchant {font-size: $text_merchant;font-family: $font_medium}
.fd-beefy-farmer {font-size: $text_farmer;font-family: $font_medium}
.fd-beefy-craftsmen {font-size: $text_craftsmen;font-family: $font_medium}
.fd-beefy-peasant {font-size: $text_peasant;font-family: $font_medium}
.fd-beefy-serf {font-size: $text_serf;font-family: $font_medium}

.fd-fat-shogun {font-size: $text_shogun;font-family: $font_semi}
.fd-fat-daimyo {font-size: $text_daimyo;font-family: $font_semi}
.fd-fat-samurai {font-size: $text_samurai;font-family: $font_semi}
.fd-fat-ronin {font-size: $text_ronin;font-family: $font_semi}
.fd-fat-soldier {font-size: $text_soldier;font-family: $font_semi}
.fd-fat-merchant {font-size: $text_merchant;font-family: $font_semi}
.fd-fat-farmer {font-size: $text_farmer;font-family: $font_semi}
.fd-fat-craftsmen {font-size: $text_craftsmen;font-family: $font_semi}
.fd-fat-peasant {font-size: $text_peasant;font-family: $font_semi}
.fd-fat-serf {font-size: $text_serf;font-family: $font_semi}


// Text Alignment

.fd-text-left {text-align: left}
.fd-text-right {text-align: right}
.fd-text-center {text-align: center}


// Misc

.f-emperor {font-size: $text_emperor;font-family: $font_semi/*$font_bold*/}

.fd-text-lowercase {text-transform: lowercase}
.fd-text-uppercase {text-transform: uppercase}
.fd-text-capitalize {text-transform: capitalize}

a.f-link-dashed, a .f-link-dashed {
	border-bottom: 1px dashed;
}

@media only screen and (max-width: $width_tablet){
	.ft-shogun {font-size: $text_shogun;font-family: $font_semi}
	.ft-daimyo {font-size: $text_daimyo;font-family: $font_light}
	.ft-samurai {font-size: $text_samurai;font-family: $font_medium}
	.ft-ronin {font-size: $text_ronin}
	.ft-soldier {font-size: $text_soldier}
	.ft-merchant {font-size: $text_merchant}
	.ft-farmer {font-size: $text_farmer}
	.ft-craftsmen {font-size: $text_craftsmen}
	.ft-peasant {font-size: $text_peasant}
	.ft-serf {font-size: $text_serf}

	.ft-thin-shogun {font-size: $text_shogun;font-family: $font_light}
	.ft-thin-daimyo {font-size: $text_daimyo;font-family: $font_light}
	.ft-thin-samurai {font-size: $text_samurai;font-family: $font_light}
	.ft-thin-ronin {font-size: $text_ronin;font-family: $font_light}
	.ft-thin-soldier {font-size: $text_soldier;font-family: $font_light}
	.ft-thin-merchant {font-size: $text_merchant;font-family: $font_light}
	.ft-thin-farmer {font-size: $text_farmer;font-family: $font_light}
	.ft-thin-craftsmen {font-size: $text_craftsmen;font-family: $font_light}
	.ft-thin-peasant {font-size: $text_peasant;font-family: $font_light}
	.ft-thin-serf {font-size: $text_serf;font-family: $font_light}

	.ft-beefy-shogun {font-size: $text_shogun;font-family: $font_medium}
	.ft-beefy-daimyo {font-size: $text_daimyo;font-family: $font_medium}
	.ft-beefy-samurai {font-size: $text_samurai;font-family: $font_medium}
	.ft-beefy-ronin {font-size: $text_ronin;font-family: $font_medium}
	.ft-beefy-soldier {font-size: $text_soldier;font-family: $font_medium}
	.ft-beefy-merchant {font-size: $text_merchant;font-family: $font_medium}
	.ft-beefy-farmer {font-size: $text_farmer;font-family: $font_medium}
	.ft-beefy-craftsmen {font-size: $text_craftsmen;font-family: $font_medium}
	.ft-beefy-peasant {font-size: $text_peasant;font-family: $font_medium}
	.ft-beefy-serf {font-size: $text_serf;font-family: $font_medium}

	.ft-fat-shogun {font-size: $text_shogun;font-family: $font_semi}
	.ft-fat-daimyo {font-size: $text_daimyo;font-family: $font_semi}
	.ft-fat-samurai {font-size: $text_samurai;font-family: $font_semi}
	.ft-fat-ronin {font-size: $text_ronin;font-family: $font_semi}
	.ft-fat-soldier {font-size: $text_soldier;font-family: $font_semi}
	.ft-fat-merchant {font-size: $text_merchant;font-family: $font_semi}
	.ft-fat-farmer {font-size: $text_farmer;font-family: $font_semi}
	.ft-fat-craftsmen {font-size: $text_craftsmen;font-family: $font_semi}
	.ft-fat-peasant {font-size: $text_peasant;font-family: $font_semi}
	.ft-fat-serf {font-size: $text_serf;font-family: $font_semi}

	.ft-text-left {text-align: left}
	.ft-text-right {text-align: right}
	.ft-text-center {text-align: center}
}

@media only screen and (max-width: $width_mobile){
	.fm-shogun {font-size: $text_shogun;font-family: $font_semi}
	.fm-daimyo {font-size: $text_daimyo;font-family: $font_light}
	.fm-samurai {font-size: $text_samurai;font-family: $font_medium}
	.fm-ronin {font-size: $text_ronin}
	.fm-soldier {font-size: $text_soldier}
	.fm-merchant {font-size: $text_merchant}
	.fm-farmer {font-size: $text_farmer}
	.fm-craftsmen {font-size: $text_craftsmen}
	.fm-peasant {font-size: $text_peasant}
	.fm-serf {font-size: $text_serf}

	.fm-thin-shogun {font-size: $text_shogun;font-family: $font_light}
	.fm-thin-daimyo {font-size: $text_daimyo;font-family: $font_light}
	.fm-thin-samurai {font-size: $text_samurai;font-family: $font_light}
	.fm-thin-ronin {font-size: $text_ronin;font-family: $font_light}
	.fm-thin-soldier {font-size: $text_soldier;font-family: $font_light}
	.fm-thin-merchant {font-size: $text_merchant;font-family: $font_light}
	.fm-thin-farmer {font-size: $text_farmer;font-family: $font_light}
	.fm-thin-craftsmen {font-size: $text_craftsmen;font-family: $font_light}
	.fm-thin-peasant {font-size: $text_peasant;font-family: $font_light}
	.fm-thin-serf {font-size: $text_serf;font-family: $font_light}

	.fm-beefy-shogun {font-size: $text_shogun;font-family: $font_medium}
	.fm-beefy-daimyo {font-size: $text_daimyo;font-family: $font_medium}
	.fm-beefy-samurai {font-size: $text_samurai;font-family: $font_medium}
	.fm-beefy-ronin {font-size: $text_ronin;font-family: $font_medium}
	.fm-beefy-soldier {font-size: $text_soldier;font-family: $font_medium}
	.fm-beefy-merchant {font-size: $text_merchant;font-family: $font_medium}
	.fm-beefy-farmer {font-size: $text_farmer;font-family: $font_medium}
	.fm-beefy-craftsmen {font-size: $text_craftsmen;font-family: $font_medium}
	.fm-beefy-peasant {font-size: $text_peasant;font-family: $font_medium}
	.fm-beefy-serf {font-size: $text_serf;font-family: $font_medium}

	.fm-fat-shogun {font-size: $text_shogun;font-family: $font_semi}
	.fm-fat-daimyo {font-size: $text_daimyo;font-family: $font_semi}
	.fm-fat-samurai {font-size: $text_samurai;font-family: $font_semi}
	.fm-fat-ronin {font-size: $text_ronin;font-family: $font_semi}
	.fm-fat-soldier {font-size: $text_soldier;font-family: $font_semi}
	.fm-fat-merchant {font-size: $text_merchant;font-family: $font_semi}
	.fm-fat-farmer {font-size: $text_farmer;font-family: $font_semi}
	.fm-fat-craftsmen {font-size: $text_craftsmen;font-family: $font_semi}
	.fm-fat-peasant {font-size: $text_peasant;font-family: $font_semi}
	.fm-fat-serf {font-size: $text_serf;font-family: $font_semi}

	.fm-text-left {text-align: left}
	.fm-text-right {text-align: right}
	.fm-text-center {text-align: center}
}
