.f-main-wrapper {
	max-width: $width_desktop;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

ul.fd-f,
ul.fd-c,
ul.fd-f-left,
ul.fd-f-left-middle,
ul.fd-f-right,
ul.fd-f-right-middle,
ul.fd-f-center,
ul.fd-f-center-middle,
ul.fd-f-around,
ul.fd-f-around-middle,
ul.fd-f-between,
ul.fd-f-between-middle
{
	list-style: none;
	padding: 0;
	margin: 0;
}

.fd-f {display: flex}
.fd-c {flex-direction: column}
.fd-c-center {display: flex;flex-direction: column;align-items:center}
.fd-c-stretch {display: flex;flex-direction: column;align-items: stretch}

.fd-f-left {display:flex;justify-content:flex-start;align-items: stretch;}
.fd-f-left-middle {display:flex;justify-content:flex-start;align-items:center;}

.fd-f-right {display:flex;justify-content:flex-end;align-items:stretch;}
.fd-f-right-top {display: flex;justify-content: flex-end;align-items: flex-start;}
.fd-f-right-middle {display:flex;justify-content:flex-end;align-items:center;}

.fd-f-center {display:flex;justify-content:center;align-items:stretch;}
.fd-f-center-middle {display:flex;justify-content:center;align-items:center;}
.fd-f-center-bottom {display:flex;justify-content:center;align-items:bottom;}

.fd-f-around {display:flex;justify-content:space-around;align-items:stretch;}
.fd-f-around-middle {display:flex;justify-content:space-around;align-items:center;}

.fd-f-between {display:flex;justify-content:space-between;align-items:stretch;}
.fd-f-between-middle {display:flex;justify-content:space-between;align-items:center;}



.fd-f0 {flex:auto}
.fd-f1 {flex:1}
.fd-f2 {flex:2}
.fd-f3 {flex:3}

@media only screen and (max-width: $width_tablet){
	.ft-f0 {flex:auto}
	.ft-f1 {flex:1}
	.ft-f2 {flex:2}
	.ft-f3 {flex:3}

	.ft-c-center {flex-direction: column;align-items:center}
	.ft-c-stretch {flex-direction: column;align-items: stretch}
}

@media only screen and (max-width: $width_mobile){
	.fm-f0 {flex:auto}
	.fm-f1 {flex:1}
	.fm-f2 {flex:2}
	.fm-f3 {flex:3}

	.fm-c {flex-direction: column}

	.fm-c-stretch {
		flex-direction: column;
		align-items: stretch;
	}

	.fm-c-center {flex-direction: column;align-items:center}
	.fm-c-stretch {flex-direction: column;align-items: stretch}

	.fm-hidden {display: none!important;}
}

@media only screen and (min-width: $width_tablet){
	.fd-hidden {display: none!important;}
}

@media only screen and (min-width: $width_mobile) and (max-width: $width_tablet){
	.ft-hidden {display: none!important;}
}
