body.fedor {
	margin: 0;
	padding: 0 !important;

	& > form {
		padding-top: 110px;
	}
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
menu {
	display: block;
}

audio,
video,
canvas {
	display: inline-block;
}

template, [hidden] {
	display: none;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

label {
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
}
